################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/bin
/linux
/out
/CMakeSettings.json
/vcpkg_installed
/build
